[mysqld]

datadir=/var/lib/mysql
symbolic-links=0
max_allowed_packet = 16M
query_cache_size = 16M
innodb_log_file_size = 48M
query_cache_type = 1
sync_binlog = 0
innodb_buffer_pool_size = 128M
innodb_old_blocks_time = 1000
innodb_flush_log_at_trx_commit = 1
max_connections = 99999
wsrep_slave_threads = 8


default_storage_engine=InnoDB
binlog_format=ROW

innodb_flush_method             = O_DIRECT
innodb_file_per_table           = 1
innodb_autoinc_lock_mode=2

bind_address = 0.0.0.0
skip-name-resolve

wsrep_cluster_address=gcomm://
wsrep_provider=/usr/lib64/galera3/libgalera_smm.so
wsrep_sst_method=rsync
wsrep_sst_auth="root:"

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
